*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

button{
  padding: 10px 40px;
  margin: 1rem;
  background-color: rgb(2, 2, 48);
  color: aliceblue;
  font-size:20px;
}
.show {
  display: flex;
  justify-content: space-evenly; 
  /* flex-wrap: wrap;  */
  gap:1.2rem;
  margin-top: 4rem; 
  padding: 0 1rem;
  overflow-y: hidden;
  overflow-x: visible;
/* width: 90%; */
}
.show::-webkit-scrollbar{
  display: none;
}

.show .imges {
  flex: 1 1 calc(25% - 1rem);
  width: 25%; 
  height: 25rem; 
}

.imges img{
  height:20rem;
  /* width: 100%;  */
  object-fit: cover;
}